{% extends "base1.html" %}
{% load i18n %}



{% block content %}

<div class="container">
          <div class="row">
		<h1>Password reset</h1>
          </div>
		
          <div class="row">
             <p>Forgotten your password? Enter your email address below, and we'll email instructions for setting a new one.</p>
          </div>

          <div class="row">
               <form action="" method="post">
{% csrf_token %}
{{ form.email.errors }}
<p><label for="id_email">{% trans 'Email address:' %}</label> {{ form.email }} <input type="submit" value="{% trans 'Reset my password' %}" /></p>
</form>
          </div>

          
          
    </div>







{% endblock %}
