
{% extends "pp.html" %}

{% block content %}

  <div class="container-fluid">
      <div class="jumbotron">
          <h2> WELCOME TO BOOKSTORE </p>
      </div>
    </div>
    

    <div class="container">
        <div class="row">
            <div class="col-md-3">
                           
            </div>
            <div class="col-md-6">
                <h2> Add Books and help others!! </h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-2">
                           
            </div>
 
            <div class="col-md-4">
                <form class="form-horizontal" action="/addbook/" method = "POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="Name" class="control-label col-xs-3">Name</label>
                        <div class="col-xs-9">
                            <input type="text" class="form-control" id="Name" name="bookname" placeholder="Book Name">
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="Author" class="control-label col-xs-3">Author</label>
                        <div class="col-xs-9">
                            <input type="text" class="form-control" id="Author" name="author" placeholder="Author">
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="Publisher" class="control-label col-xs-3">Publisher</label>
                        <div class="col-xs-9">
                            <input type="text" class="form-control" id="Publisher" name="publisher" placeholder="Publisher">
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="Publisher" class="control-label col-xs-3">Category</label>
                        <div class="col-xs-9">
                            <div class="panel panel-default">
                             <div class="btn-group">
                                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" name="category">
                                
                                    <select name="category">
                                        <option value="maths">maths</option>
                                        <option value="science">Science</option>
                                        <option value="novel">novel</option>
                                    </select> 
                                </button>
                                
                            
                             </div>
                            </div>
                           
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="file" class="control-label col-xs-3">File Input</label>
                        <div class="col-xs-9">
                            <input type="file" name="file" />
                        </div>
                    </div>
                    
                     <input type="submit" value="ADD" />
                </form>

                                      
            </div>
          </div>

          
    </div>
  
  
{% endblock %}


