{% extends "base1.html" %}

{% block content %}

<body>
<div>
        <h2 class="form-signin-heading">ADD BOOKS</h2>
    <form action="/addbook/" method = "POST" enctype="multipart/form-data">
        {% csrf_token %}
        
        <input type="text" name="bookname" placeholder="NAME"/><br />
        <select name="category">
            <option value="maths">maths</option>
            <option value="science">Science</option>
            <option value="novel">novel</option>
            <option value="other">other</option>
        </select> <br />
        <input type="text" name="author" placeholder="Author's name"/><br />
        <input type="text" name="publisher" placeholder="publisher's name"/><br />
        <input type="file" name="file" /><br />
        <input type="submit" value="ADD" />
    </form>
      
</div>
</body>

{% endblock %}



