
{% extends "pp.html" %}

{% block content %}


	<div class="container-fluid">
      <div class="jumbotron">
        <div class="row">
        	<h2> WELCOME TO BOOKSTORE </h2>
        </div>
        <div class="row">
        <div class="col-md-10">
          <p> Share books and help others </p>
        </div>
        <div class="col-md-2">
              <a href="addbook"><span class="glyphicon glyphicon-plus"></span>Add Book</a>
        </div>
        </div>
      </div>
    </div>

    <div class="container">
          

          <div class="row">
            <div class="col-md-4">
              <a href="/maths"><img class="img-responsive img-circle" src="media/maths.gif"></a>
              <h3 class="text-center">Math Section</h3>
            </div>
 
            <div class="col-md-4">
              <a href="/science"><img class="img-responsive img-circle" src="media/science.jpg"></a>
              <h3 class="text-center">Science Section</h>              
            </div>
 
            <div class="col-md-4">
              <a href="/novels"><img class="img-responsive img-circle" src="media/novel.jpg"></a>
              <h3 class="text-center">Novels</h3>                         
            </div>
          </div>

          
    </div>
  
  
{% endblock %}


