<html>
	<head>
		<title> CONTACT US </title>
	</head>
	<body>
		{% if errors %}
			<ul>
				{% for error in errors %}
				<li> {{error}} </li>
				{% endfor %}
			</ul>
		{% endif %}

		<form action="/contact/" method = "POST">
			{% csrf_token %}
			<p> SUBJECT: <input type="text" name="subject" value = "{{subject}}"></p>
			<p> your email (optional): <input type = "text" name = "email" value = "{{email}}"></p>
			<p> message: <textarea name = "message" rows = "10" columns = "50" value = "{{message}}"></textarea>
			<input type = "submit" name = "submit">
		</form>
	</body>
</html>