
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="/media/logo.jpg">

    <title>BOOKSTORE</title>

    <!-- Bootstrap core CSS -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    

    <!-- Just for debugging purposes. Don't actually copy this line! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>
  	<nav class="navbar-wrapper navbar-default navbar-fixed-top" role="navigation">
  		<div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand"  href="/"><span class="glyphicon glyphicon-home"></span>BOOKSTORE</a>
          </div>
          <div class="collapse navbar-collapse navbar-ex1-collapse">
      <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-user"></span> About Us<b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <li><a href="/company_details">Company Details</a></li>
                  <li><a href="/contact_us">Contact Us</a></li>
                </ul>
              </li>
            </ul>
            <ul class="nav pull-right">

            <form class="form-inline" method="POST" action="/login/">
              {% csrf_token %}

              <div class="form-group">
                <label class="sr-only" for="username">Username</label>
                <input type="text" name="username" placeholder="USERNAME"/><br />
              </div>
              <div class="form-group">
                <label class="sr-only" for="InputPassword">Password</label>
                <input type="password" name="password" placeholder="password"/><br />
              </div>
              <a href="password_reset">Forgot Password </a></p>

              <button type="submit" class="btn btn-primary">Login</button>

            </form>
            </ul>
            <ul class="nav navbar-nav navbar-right">
              
            </ul>
          </div>
        </div>
	  </nav>

    <div class="container-fluid">
      <div class="jumbotron">
        <h1>E-LIBRARY</h1>
        <p>Get knowledege and Share your knowledge with the world</p>

        </div>
    </div>

    <div class="container">
          <div class="row">
            <div class="col-md-9">
              <img src="/media/elibrary.jpg">
            </div>
          <div class="row">
            <div class="col-md-3">
              <h3> Register Here </h3>
              <form action="/register/" method = "POST">
                {% csrf_token %}
        
                <input type="text" class = "form-control" name="username" placeholder="USERNAME"/><br />
                <input type="password" class = "form-control" name="password" placeholder="password"/><br />
                <input type="text" class = "form-control" name="email" placeholder="email"/><br />
                <input type="text" class = "form-control" name="first_name" placeholder="first_name"/><br />
                <input type="text" class = "form-control" name="last_name" placeholder="last_name"/><br />
                
                <input type="submit" value = "register"/>
              </form>
 
            </div>
          </div>


    <footer>
        <div class="container">
        <div class="row">
          <div class="col-md-4">&copy; 2014</div>
          <div class="col-md-4">
            <ul class="nav nav-pills">
              
              <li><a href="support">Support 24x7</a></li>
              <li><a href="privacy_policy">Privacy Policy</a></li>
            </ul>
          </div>
          
          
        <div class="col-md-4">
            <h3 class="text-right">BOOKSTORE</h3>
          </div>
        </div>
        </div>
      </footer>
    







    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
  </body>
</html>

