{% extends "base.html" %}

{% block content %}
<body>
    <div class="navbar-collapse collapse">
        <h2 class="form-signin-heading">LOGIN</h2>
        <form method="POST" action="/login/">
            {% csrf_token %}
            <input type="text" name="username" placeholder="USERNAME"/><br />
            <input type="password" name="password" placeholder="password"/><br />
            <input type="submit" value="login" />
            <input type="hidden" name="next" value="/bookshow/" />
        </form>
    </div><!--/.navbar-collapse -->
<div>
        <h2 class="form-signin-heading">REGISTER</h2>
        <p> if you don't have account then register here </p>
    <form action="/register/" method = "POST">
        {% csrf_token %}
        
        <input type="text" class = "form-control" name="username" placeholder="USERNAME"/><br />
        <input type="password" class = "form-control" name="password" placeholder="password"/><br />
        <input type="text" class = "form-control" name="email" placeholder="email"/><br />
        <input type="text" class = "form-control" name="first_name" placeholder="first_name"/><br />
        <input type="text" class = "form-control" name="last_name" placeholder="last_name"/><br />
        <label class="checkbox">
          <input type="checkbox" value="remember-me"> Remember me
        </label>
        <input type="submit" value = "register"/>
    </form>
</div>
</body>



{% endblock %}