<html>


						  <h2>WELCOME TO BOOKSTORE<h2>
						<h3>LOGIN TO GET IN LIBRARAY<h3>



    {% if error %}
        <ul>
            {% for error in error %}
            <li>{{ error }}</li>
            {% endfor %}
        </ul>
    {% endif %}


<div>
	<form action="/register/" method = "POST">
        {% csrf_token %}
        
		<input type="text" name="username" placeholder="USERNAME"/><br />
        <input type="text" name="password" placeholder="password"/><br />
		<input type="submit" value = "signup"/>
	</form>
</div>

</html>
