{% extends "base.html" %}

{% block content %}
<body>
<div>
        <h2 class="form-signin-heading">Please sign in</h2>
    <form action="/register/" method = "POST">
        {% csrf_token %}
        
        <input type="text" name="username" placeholder="USERNAME"/><br />
        <input type="text" name="password" placeholder="password"/><br />
        <label class="checkbox">
          <input type="checkbox" value="remember-me"> Remember me
        </label>
        <input type="submit" value = "signup"/>
    </form>
</div>
</body>



{% endblock %}