{% extends "pp.html" %}

{% block content %}
	<div class="container-fluid">
      <div class="jumbotron">
        	<h2> WELCOME TO BOOKSTORE </p>
      </div>
    </div>

    <div class="container">

    	<div class="row">
    		<div class"col-md-8">
    			<h2> Contact Information </h2>
    		</div>
        <div class="row">
            <div class="col-md-8">
            	<h3><a href="http://prakharjoshi.herokuapp.com/">PRAKHAR JOSHI</a></h3>
            	              
            </div>
 
                        
        </div>

          
    </div>

   {% endblock %}