{% extends "pp.html" %}

{% block content %}

	<div class="container-fluid">
      <div class="jumbotron">
        	<h2> WELCOME TO BOOKSTORE </p>
      </div>
    </div>

    <div class="container">
          <div class="row">
          	<h3> We will be happy to support you any time</h3>
          </div>
          <div class="row">
            <div class="col-md-3">
              
            </div>
            <div class="col-md-8">
              <img class="img-responsive img-circle" src="media/support.png">
            </div>
          </div>

          
    </div>

{% endblock %}